.input {
  display: block;

  &--label,
  &--field {
    display: block;
  }

  &--label {
    margin-bottom: 5px;
  }

  &--field {
    border-radius: 4px;
    overflow: hidden;

    input {
      padding: 10px 20px;
      outline: none;
      font-size: 16px;
      width: 100%;
    }
  }
}