.hotels-list-item {
  display: block;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ddd;

  &--body,
  &--title,
  &--distance,
  &--type,
  &--image,
  &--location,
  &--cost,
  &--rating {
    display: block;
  }

  &--body {
    padding: 20px;

    >* {
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }

  &--title {
    span {
      font-size: 25px;
    }
  }

  &--image {
    height: 0;
    padding-bottom: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center center;

    img {
      display: none;
    }
  }
}
